.nav-item {
    padding: 15px;
    font-size: 20px;
}
.home-page {
    background-image: url(../AssetsCapio/Homepage/Homepage\ Person.png);
    background-size: cover;
}
.header-home p {
    font-size: 23px;
    color: #fff;
}
.header-home .header-text {
    color: rgb(131, 131, 131);
    font-size: 20px;
}
.position p {
    color: rgb(131, 131, 131);
}
.page-footer p {
    color: rgb(131, 131, 131);
}
.main-solutions {
    background-image: url(../AssetsCapio/Header/City.png);
    background-size: cover;
}
.page-solution {
    padding-top: 60px;
}
.display-4 {
    font-weight: 500;
}
.display-4 span, .display-5 span {
    color: rgb(0, 75, 173);
}
.jumbotron {
    padding: 150px;
}
.get-started {
    color: #fff;
    padding: 15px 40px;
    font-weight: 700;
    font-size: larger;
}
.we-slove {
    margin-top: 250px;
}
.we-slove span {
    color: rgb(0, 75, 173);
}
.we-slove p {
    font-size: 20px;
}
.position a {
    color: red;
    font-weight: 700;
}
.portfolio p {
    color: rgb(131, 131, 131);
}
.portfolio span {
    color: rgb(0, 75, 173);
}
.more-work {
    padding: 13px 45px;
    margin-top: 30px;
    color: white;
    font-weight: 700;
    font-size: larger;
    box-shadow: -3px -2px 7px 2px rgba(164,164,164,0.75);
}
.why-us p {
    color: rgb(131, 131, 131);
}
.why-us span{
    color: rgb(0, 75, 173);
}
.carou b {
    color: rgb(0, 75, 173);
}
.sliders {
    background-color: rgb(245, 245, 245);
}
.about-us {
    margin-top: 20px;
    padding: 10px 60px;
    font-size: larger;
    font-weight: 700;
    color: #fff;
    box-shadow: -3px -2px 7px 2px rgba(164,164,164,0.75);
}
.content h2 {
    font-weight: 400;
}
.meet-our-leader h5 {
    margin-bottom: -1px;
}
.meet-our-leader span, p {
    color: rgb(121, 121, 121);
}
.meet-our-leader .card-title {
    color: rgb(0, 0, 0);
}
.connect {
    margin-top: 80px;
    margin-bottom: 120px;
}

.connect .start-now {
    padding: 15px 40px;
    margin-top: 20px;
}
.work {
    background-image: url(../AssetsCapio/Header/City.png);
    background-size: cover;
}
.page-work {
    padding-top: 450px;
}
.page-company {
    background-image: url(../AssetsCapio/Header/City.png);
    background-size: cover;
}
.company {
    padding-top: 60px;
}
.company p {
    color: #fff;
    font-size: 18px;
}
.company span {
    color: rgb(21, 57, 122);;
}
.content-work h2 {
    color: rgb(116, 116, 116);
}
.dev {
    color: rgb(148, 148, 148);
    border-right: 2px solid rgb(175, 175, 175);
}
.ux, .data {
    color: rgb(148, 148, 148);
}
.start-now {
    color: white;
    font-weight: 700;
    padding: 15px 50px;
    border-radius: 15px;
    box-shadow: -3px -2px 7px 2px rgba(164,164,164,0.75);
}
.main-getus {
    background-image: url(../AssetsCapio/Header/Maps.png);
    background-size: cover;
}
.page-getus {
    padding-top: 60px;
}
.get-us {
    margin-top: 100px;
    margin-bottom: 100px;
}
.get-us .card {
    border-radius: 16px;
}

.get-us .required{
    border-top: 16px solid rgb(21, 57, 122);
}
.get-us input {
    border: none;
    border-bottom: 2px solid rgb(230, 223, 223);
    width: 70%;
}
.get-us span, b {
    color: rgb(21, 57, 122);
    font-style: italic;
}
.main-more p {
    color: rgb(192, 192, 192);
}
.lead-more {
    padding: 15px 45px;
    color: #fff;
    font-size: large;
    border-radius: 20px;
    box-shadow: -3px -2px 7px 2px rgba(164,164,164,0.75);
}

.solution-row {
    margin-top: 40px;
}
.main-skills .card {
    border: none;
}
.why-capio {
    margin-top: 80px;
}
.main-stage {
    margin-top: 80px;
}

.btn-submit {
    color: white;
    padding: 13px 50px;
    box-shadow: -3px -2px 7px 2px rgba(164,164,164,0.75);
    font-size: large;
}